@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,500;0,700;1,300&display=swap");
:root {
  --bg-navbar: #0f2027;
  --color-text-navbar: #f9f5e3;
  --bg-contenedor: #e4f1ed;
  --color-parrafo: #3e3e3e;
  --bg-contenedor-history: #f3e8f7;
  --color-text-history: #3e3e3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =========== background gradiant =====================*/
body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "calibri";
}
/* =========== barra de navegador =====================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-navbar);
  padding: 1rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-links {
  color: var(--color-text-navbar);
  text-decoration: none;
  font-weight: 600;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav img {
  height: 50px;
}

/* =========== contenedor HERO =====================*/

.info_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 150px;
  /* padding-bottom: 90px; */
  gap: 50px;
  font-family: "Cinzel", serif;
}

.img-main {
  height: 280px;
  border-radius: 15px;
  box-shadow: 9px 9px 4px 0px rgba(0, 0, 0, 0.1);
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  gap: 30px;
}

.hero-info h1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  color: var(--color-text-navbar);
}

.hero-info span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero-info p {
  color: var(--color-text-navbar);
  font-size: xx-large;
  font-family: "Cormorant", serif;
  padding: 0 200px 0 200px;
  text-align: center;
}

.btns {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.primary {
  box-shadow: inset 0px 1px 0px 0px #c04848;
  background: linear-gradient(to bottom, #c04848 5%, #480048 100%);
  background-color: #c04848;
  border-radius: 6px;
  border: 1px solid #480048;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #480048;
}

.primary:hover {
  background: linear-gradient(to bottom, #480048 5%, #c04848 100%);
  background-color: #c04848;
}
.primary:active {
  position: relative;
  top: 1px;
}

.secondary {
  box-shadow: inset 0px 1px 0px 0px #134e5e;
  background: linear-gradient(to bottom, #134e5e 5%, #71b280 100%);
  background-color: #134e5e;
  border-radius: 6px;
  border: 1px solid #134e5e;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #134e5e;
}
.secondary:hover {
  background: linear-gradient(to bottom, #71b280 5%, #134e5e 100%);
  background-color: #71b280;
}
.secondary:active {
  position: relative;
  top: 1px;
}

/* =========== contenedor ABOUT=====================*/

.description {
  padding: 100px 50px;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo {
  padding: 15px;
  border-radius: 15px;
  width: 500px;
  background: var(--bg-contenedor-history);
  text-align: center;
  color: var(--color-parrafo);
  box-shadow: 9px 9px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: large;
}

.img-city {
  height: 350px;
  box-shadow: 9px 9px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 1s ease-in-out;
}

.img-city:hover {
  height: 400px;
}

/* =========== contenedor Benefits =====================*/
.benefits-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px;
  gap: 50px;
}

.benefits-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
  color: #f9f5e3;
  background-color: #0f2027;
  border-radius: 15px;
  box-shadow: 9px 9px 4px 0px rgba(0, 0, 0, 0.1);
  gap: 25px;
  transition: all 700ms ease-in-out;
}

.benefits-card:hover {
  background: #f9f5e3;
  color: #0f2027;
  transform: translateY(-20px);
}

.text-card {
  height: fit-content;
  width: 250px;
  text-align: center;
}

.benefits-card img {
  height: 250px;
}
