* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131415;
  padding: 1rem;
  font-family: "calibri";
}

ul a {
  color: whitesmoke;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}

nav img {
  height: 50px;
}

ul li img {
  height: 150px;
}

.galeria-img {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.galeria-img li {
  background-color: #2e5883;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img-list {
  border-radius: 10px;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.card__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn--primary {
  background: #3da9fc;
  color: white;
}

.btn--secondary {
  background: none;
  color: azure;
  border: 3px solid azure;
}
