* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pepito {
  background-color: aqua;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #131415;
  padding: 1rem;
  font-family: "calibri";
}

ul a {
  color: whitesmoke;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 200px;
}

nav img {
  height: 50px;
}
